DB_NAME=ong
DB_USER=root
DB_PASSWORD=
DB_PORT=3306

# Server Config
SERVER_PORT= 3005
PORT= 3001

#   JSON Web Token config

#   32 char secure string
JWT_SECRET=
JWT_EXPIRES_IN= "90d"

# Bcrypt config
BCRYPT_ROUNDS=10

# SendGrid config
SENDGRID_API_KEY=